@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nanum+Brush+Script&family=Permanent+Marker&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 

header {
    background-color: #eb7188;
    border-style: solid;
    border-width: 2px;
    height: 300px;
}
.links {
    font-family: "Permanent Marker";
    font-size: 80px;
    position: relative;
    left: 500px;
    bottom: 150px;
}
.logo {
    position: relative;
    max-height: 200px;
    max-width: 200px;
}