.headerbox {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.headertext {
    position:absolute;
    color:white;
    font-size: 4em;
    font-weight: 700;
    letter-spacing:  0.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.headerimg {
    width: 70%;
    height: auto;
    display: block;
    filter: brightness(60%);
}

.recipecard{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}