    .headerbox {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }